.photo-grid {
    display: grid;
   grid-template-columns: repeat(auto-fit, minmax(284px, 213px));
   gap: 16px;
   justify-content: center;
   align-items: center;
   margin-top: 92px;
   margin-bottom: 92px;
 } 
 @media (min-width: 1024px) and (max-width: 1200px)  {
   .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 225px));
   gap: 14px;
   }
 }
 @media (min-width: 361px) and (max-width: 1023px) {
   .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(352px, 264px));
    margin-top: 88px;
    margin-bottom: 88px;
    gap: 16px;
    
   }
 } 
 @media (min-width: 320px) and (max-width: 360px) {
   .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(288px, 216px));
    gap: 12px;
    margin-top: 64px;
    margin-bottom: 64px;
    
   }
 } 