.lead {
    display: flex;
    flex-direction: column;
    max-width: 984px;
    margin: auto;
  }
  @media (max-width: 1024px) {
    .lead{
      max-width: 928px;
    }
  }
  @media (min-width: 320px) and (max-width: 768px) {
    .lead{
      max-width: 100%;
    }
  }