.footer__copyright{
    color: white;
    margin-top: 0px;
    font-family: "Inter", sans-serif;
    line-height: 16px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0px;
  }
  @media (min-width: 320px) and (max-width: 767px) {
    .footer__copyright{
      margin-bottom: 24px;
    }
   }