.intro {
    margin-left: 148px;
    margin-top: 92px;
    margin-bottom: 92px;
    display: flex;
    flex-direction: column;
    max-width: 690px;
  } 
  @media (max-width: 1024px) {
    .intro {
      margin-left: 48px;
    }
  } 
  @media (max-width: 320px) {
    .intro {
      margin-left: 16px;
      margin-top: 64px;
      max-width: 288px;
      
    }
  } 