.intro {
    display: flex;
    flex-direction: column;
    max-width: 690px;
    margin-left: 100px;
    margin-top: 92px;
    } 
  @media (min-width: 769px) and (max-width: 1080px) {
    .intro {
      margin-left: 48px;
    }
  } 
  @media (min-width: 350px) and (max-width: 768px) {
    .intro {
      margin: auto;
      padding-top: 88px;
      max-width: 720px;
      width: calc(100% - 48px);
    }
  } 
  @media (min-width: 320px) and (max-width: 360px) {
    .intro {
      margin: auto;
      padding-top: 64px;
      max-width: 288px;
      width: calc(100% - 32px);
  } }