.website{
    align-self: flex-end;
     margin-bottom: 48px;
     grid-area: item-2;
     
   }

@media (min-width: 320px) and (max-width: 760px){
     .website{
       margin-bottom: 32px;
       width: 288px;
      }
   }
   