.website{
    align-self: flex-end;
     max-height: 46px;
     margin-bottom: 48px;
     grid-area: item-2;
     
   }
   @media (max-width: 320px){
     .website{
       margin-bottom: 32px;
       width: 288px;
      }
   }
   