.cover{
  max-width: 1184px;
  margin: auto;
  background-repeat: no-repeat;
  background-image: url(../../images/cover-trains.jpg);
  background-position: center center;
  background-size: cover;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .cover{
    max-width: 100%;
  }
}