.cover {
  margin: auto;
    background-image: url(../../images/cover-trains.jpg);
    background-position: center center;
    background-size: cover;
    max-width: 1184px;
    min-height: 740px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   @media (min-width: 320px) and (max-width: 1270px){
    .cover{
    max-width: 100%;
    }
   }
   @media (max-width: 1024px) {
    .cover{
      min-height: 640px;
    }
   }
   @media (max-width: 768px) {
    .cover{
     min-height: 480px;
    }
   }
   @media (min-width: 320px) and (max-width: 520px) {
    .cover{
      min-height: 200px;
    }
   }