.cover__overlay{
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding-top: 245px;
    padding-bottom: 245px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(42, 44, 47, 0.3);
   }
   .cover__overlay:hover{
    background-color: rgba(42, 44, 47, 0.8);
   }
   @media (max-width: 1024px) {
    .cover__overlay{
        padding-top: 196px;
        padding-bottom: 192px;
    }
  }
  @media (max-width: 768px) {
    .cover__overlay{
        padding-top: 115px;
        padding-bottom: 115px;
    }
  }
  @media (max-width: 320px) {
    .cover__overlay{
        padding-top: 50px;
        padding-bottom: 35px;
    }
  }