.footer{
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    max-height: 18px;
    margin: auto;
    padding-top: 92px;
    padding-bottom: 24px;
   }
   @media (max-width: 1024px) {
    .footer{
      max-width: 928px;
      
    }
   }
   @media (max-width: 768px) {
    .footer{
      max-width: 720px;
      
    }
   }
   @media (max-width: 320px) {
    .footer{
      flex-direction: column;
      max-height: 310px;
      max-width: 186px;
      margin-left: 18px;
      margin-top: 64px;
      padding: 0;
    }
   }